**/.git
**/.github
**/.vs
**/.vscode
**/bin/
**/obj/
**/node_modules/
**/dist/
ci-results/
.env
.env.local
backend/src/Ats.Api/Storage/*
!backend/src/Ats.Api/Storage/.gitkeep
Storage/*
!Storage/.gitkeep

