# Base de datos PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YOUR_SECRET_HERE
POSTGRES_DB=ats_db
POSTGRES_PORT=5433

# Cadena de conexión para la API .NET
ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=ats_db;Username=postgres;Password=YOUR_SECRET_HERE

# Google Gemini API
Gemini__ApiKey=YOUR_API_KEY_HERE
Gemini__Model=gemini-flash-lite-latest

# Seq Observabilidad
SEQ_ADMIN_PASSWORD=YOUR_SECRET_HERE
Serilog__WriteTo__1__Args__serverUrl=http://localhost:5341
